body {background: rgb(white);
background: linearGradient(90deg, rgba(rgb(4, 161, 25), rgba(255, 0, 0), rgba(13, 86, 245))}

header {
    display:flex;
    justify-content: center;
}

.nav-lista {
    display: flex;
    list-style: none;
    font-size: 45px;
    color:black;
    gap: 28px;
    text-transform: uppercase;
}

.nav-item:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}