body {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(green) 100%, rgba(orangered)100%, rgba(blue) 100%);
}

header {
    display: flex;
    justify-content: center;
}

u.nav-lista { {
    display: flex;
    list-style: none;
    font-size: 40px;
    color: white;
    gap: 28px;
    text-transform: uppercase;
}

.nav-item:hover {
cursor: pointer;
background-color: white;
color: black
}

section {
    width: 100%;
    padding-left: 8%;
}

.secao {
    padding-right: 8%;
    padding-top: 2%;
}

.moldura_videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.video {
    flex: 1 1 30%;
    margin: 10px;
}

.video iframe {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

* {
    margin-top: 0;
    padding: 0;
}